ALTER TABLE \
user\ ADD COLUMN IF NOT EXISTS sexo VARCHAR(20);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS estado_civil VARCHAR(30);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS direccion VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS municipio VARCHAR(120);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_terminos_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_terminos_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_uso_imagen_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_uso_imagen_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_plan_negocio_xls BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_plan_negocio_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_vecindad_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS doc_vecindad_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS video_url VARCHAR(500);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS rut_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS rut_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS cedula_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS cedula_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS cedula_representante_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS cedula_representante_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS cert_existencia_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS cert_existencia_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS ruv_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS ruv_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS sisben_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS sisben_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS grupo_etnico_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS grupo_etnico_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS arn_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS arn_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS discapacidad_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS discapacidad_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS antecedentes_fiscales_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS antecedentes_fiscales_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS antecedentes_disciplinarios_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS antecedentes_disciplinarios_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS antecedentes_judiciales_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS antecedentes_judiciales_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS redam_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS redam_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS inhabilidades_sexuales_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS inhabilidades_sexuales_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS declaracion_capacidad_legal_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS declaracion_capacidad_legal_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS estado_control VARCHAR(50);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS resultado_certificados VARCHAR(50);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS emprendimiento_formalizado BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS matricula_mercantil_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS matricula_mercantil_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS facturas_6meses_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS facturas_6meses_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS publicaciones_redes_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS publicaciones_redes_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS registro_ventas_pdf BYTEA;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS registro_ventas_pdf_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS financiado_estado VARCHAR(50);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS financiado_regalias BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS financiado_camara_comercio BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS financiado_incubadoras BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS financiado_otro BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS financiado_otro_texto VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS declara_veraz BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS declara_no_beneficiario BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS acepta_terminos BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS fecha_aceptacion_terminos TIMESTAMP;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS estado_inscripcion VARCHAR(50);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS paso_actual INTEGER;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS fecha_ultimo_guardado TIMESTAMP;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS formulario_enviado BOOLEAN;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS emprendimiento_nombre VARCHAR(255);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS emprendimiento_sector VARCHAR(100);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS tipo_persona VARCHAR(50);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS fase_actual VARCHAR(50);
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS fecha_entrada_fase TIMESTAMP;
ALTER TABLE \user\ ADD COLUMN IF NOT EXISTS fase_completada BOOLEAN;
